:root {
  --fade-in-top: 39rem;
  --zoom-up-top: 28.3rem;

  --cubic-bezier-leaves: cubic-bezier(.79,1.15,.8,1.08);

  @media (min-width: $stop-scaling) {
    --fade-in-top: 39rem;
  }

  @media (max-width: $tablet) and (orientation: portrait) {
    --fade-in-top: 20.5rem;
    --zoom-up-top: 16.3rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    --fade-in-top: 17.5rem;
    --zoom-up-top: 14.3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    
  }

  @media (max-width: $mobile) and (orientation: portrait) {
    --fade-in-top: 22.3rem;
    --zoom-up-top: 19.5rem;
  }
}


@keyframes rotateInDownLeft {
  from {
    opacity: 0;
    transform: rotate(-25deg);
  }

  10% {
    opacity: 1;
  }

  15% {
    transform: rotate(9deg);
  }

  30% {
    transform: rotate(-7deg);
  }

  45% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-3deg);
  }

  75% {
    transform: rotate(2deg);
  }

  90%,
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}

@keyframes rotateInDownRight {
  from {
    opacity: 0;
    transform: rotate(25deg);
  }

  10% {
    opacity: 1;
  }

  15% {
    transform: rotate(-9deg);
  }

  30% {
    transform: rotate( 7deg);
  }

  45% {
    transform: rotate(-5deg);
  }

  60% {
    transform: rotate(3deg);
  }

  75% {
    transform: rotate(-2deg);
  }

  90%,
  to {
    opacity: 1;
    transform: rotate(0deg);
  }
}


@keyframes fadeInUpBig {
  from {
    top: 80%;
    opacity: 0;
    transform: translateY(0%) rotate(-65deg);
  }

  to {
    top: var(--fade-in-top);
    opacity: 1;
    transform: translateY(-4%) rotate(8deg);
  }
}

@keyframes zoomInUp {
  from {
    transform: scale(0);
    top: 80%;
  }

  to {
    transform: scale(1);
    top: var(--zoom-up-top);
  }
}

@keyframes swing {
  from {
    transform: translateY(-4%) rotate(8deg);
  }

  to {
    transform: translateY(4%) rotate(-3deg);
  }
}

.result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 15rem 5.7rem 6rem;
  width: 100%;

  @media (min-width: $stop-scaling) {
    padding: 150px 57px 60px;
  }

  @media (orientation: portrait) {
    padding: 8rem 0 4rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    padding: 8rem 0 3rem;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    padding: 3rem 0;
  }
}

.result__image {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: -1;

  @media (orientation: portrait) {
    left: -1rem;
    right: -1rem;
  }

  picture {
    position: absolute;
    display: block;
    // width: 100%;
    // height: 100%;
  }

  img {
    position: absolute;
    // display: block;
    // width: 100%;
    // height: 100%;
    object-fit: cover;
    object-position: center;
  }

  .flamingo {
    opacity: 0;
    z-index: 4;
    width: 21%;
    left: 31.5%;
    top: 100%;
    transform-origin: center;
    animation: fadeInUpBig .5s 0s ease-out forwards, swing .8s .7s ease-in-out infinite alternate;

    @media (max-width: $tablet) and (orientation: landscape) {
      top: 38.5rem;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 25.5%;
      left: 27%;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 30%;
      left: 22.5%;
    }
  }

  .suitcase  {
    width: 28%;
    z-index: 3;
    top: 50rem;
    left: 33.5%;
    transform: scale(0);
    animation: zoomInUp .5s 0s cubic-bezier(.59,1.6,.76,1) forwards;

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 37%;
      top: 22.4rem;
      left: 28.5%;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 40%;
      left: 25.5%;
    }
  }

  .leaf-green {
    opacity: 0;
    z-index: 2;
    width: 25%;
    top: 43.7rem;
    left: 50%;
    transform-origin: left center;
    animation: rotateInDownLeft 1.5s .45s var(--cubic-bezier-leaves) forwards;

    @media (max-width: $tablet) and (orientation: landscape) {
      top: 19.5rem;
      left: 49%;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 39%;
      top: 22.4rem;
      left: 48%;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 34%;
      top: 25.6rem;
    }
  }

  .leaf-blue-right {
    opacity: 0;
    animation: rotateInDownLeft 1.5s .28s var(--cubic-bezier-leaves) forwards;
    z-index: 1;
    width: 21%;
    left: 50%;
    top: 28.7rem;
    transform-origin: left center;
    @media (max-width: $tablet) and (orientation: landscape) {
      top: 15rem;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 31%;
      top: 16.7rem;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 33%;
      top: 20rem;
    }

  }

  .leaf-blue-left {
    opacity: 0;
    animation: rotateInDownRight 1.5s .35s var(--cubic-bezier-leaves) forwards;    
    z-index: 1;
    width: 20%;
    left: 25%;
    top: 41rem;
    transform-origin: right center;

    @media (max-width: $tablet) and (orientation: landscape) {
      top: 18.5rem;
    }

    @media (max-width: $tablet) and (orientation: portrait) {
      width: 29%;
      top: 21rem;
      left: 15%;
    }

    @media (max-width: $mobile) and (orientation: portrait) {
      width: 31%;
      left: 15%;
      top: 25rem;
    }
  }
}

.result__title {
  margin: 0 auto 2rem;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: 0 auto 20px;
  }

  @media (orientation: portrait) {
    margin-bottom: 1.5rem;
  }

  svg {
    display: block;
    width: 100%;
    height: 100%;
    stroke-width: 0.2rem;
    stroke-linejoin: round;
  }
}

.result__text {
  margin-bottom: 2rem;
  text-align: center;
  font-family: $font-alt;
  font-weight: 400;
  font-size: 4.8rem;
  line-height: 0.906;
  letter-spacing: -0.01em;

  @media (min-width: $stop-scaling) {
    margin-bottom: 20px;
    font-size: 48px;
  }

  @media (orientation: portrait) {
    font-size: 2.8rem;
    line-height: 1.1;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    font-size: 2.8rem;
  }

  p {
    margin: 0;
  }
}

.result__button {
  @include btn-reset;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  margin: auto auto 1rem;
  min-width: 34rem;
  text-transform: uppercase;
  font-size: 2.4rem;
  line-height: 1.2;
  color: $c-light;

  @media (min-width: $stop-scaling) {
    margin: auto auto 10px;
    min-width: 340px;
    font-size: 24px;
  }

  @media (orientation: portrait) {
    margin: auto 0 0;
    transform: none;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  @media (max-width: $tablet) and (orientation: landscape) {
    transform: none;
  }

  @media (max-width: $mobile) and (orientation: landscape) {
    margin: auto 0 0;
    width: 100%;
    min-width: auto;
    font-size: 1.6rem;
  }

  span {
    position: relative;
    margin-left: 1.5rem;
    width: 4rem;
    height: 4rem;
    color: $c-dark;

    @media (min-width: $stop-scaling) {
      margin-left: 15px;
      width: 40px;
      height: 40px;
    }

    &::before {
      @include center;
      content: "";
      width: 100%;
      height: 100%;
      background-color: $c-light;
      border: 2px solid $c-light;
      border-radius: 50%;
      z-index: -1;
    }
  }

  svg {
    @include center;
    margin-left: 0.3rem;
    width: 2.4rem;
    height: 1.9rem;

    @media (min-width: $stop-scaling) {
      margin-left: 3px;
      width: 24px;
      height: 19px;
    }
  }

  &:hover {
    span::before {
      width: 112.5%;
      height: 112.5%;
    }
  }

  &:focus {
    outline: none;

    span::before {
      border-color: $c-purple;
    }
  }

  &:active,
  &:active:focus {
    span {
      color: $c-light;
    }

    span::before {
      width: 100%;
      height: 100%;
      background-color: $c-purple;
      border-color: $c-purple;
    }
  }
}

.result__form {
  margin-top: auto;
}

.result--trip,
.result--prize {
  .result__title {
    width: 57.3rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      width: 573px;
      height: 113px;
    }

    @media (orientation: portrait) {
      width: 28.7rem;
      height: 5.7rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      width: 40rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      margin-bottom: 0;
      width: 35rem;
    }
  }
}

.result--negative {
  .result__title {
    margin-top: 9.5rem;
    width: 66.5rem;
    height: 11.3rem;

    @media (min-width: $stop-scaling) {
      margin-top: 95px;
      width: 665px;
      height: 113px;
    }

    @media (orientation: portrait) {
      margin-top: 0;
      width: 28.8rem;
      height: 4.9rem;
    }

    @media (max-width: $tablet) and (orientation: landscape) {
      margin-top: 0;
      width: 50rem;
    }

    @media (max-width: $mobile) and (orientation: landscape) {
      width: 45rem;
    }
  }
}
