
@keyframes fadeInUp {
    from {
        transform: translateY(120%);
        opacity: 1;
    }
    to {
        transform: translateY(20%);
        opacity: 1;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}

  
@keyframes stretch {
    from {
        width: 0;
    }
}

@keyframes zoomIn {
    to {
        transform: scale(1, 1);
    }
}


@keyframes rollInRight {
    from {
        transform: translateX(150%) rotate(0deg);
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translateX(0%) rotate(-360deg);
    }
}
  

@keyframes rollInLeft {
    from {
        transform: translateX(-150%) rotate(0deg);
        opacity: 0;
    }

    70% {
        opacity: 1;
    }

    to {
        opacity: 1;
        transform: translateX(0%) rotate(360deg);
    }
}
  

.animation-text {
    max-height: 12rem;
    display: flex;
    .word {
        overflow: hidden;
        display: flex;

        .letter {
            opacity: 0;

            display: inline-flex;
            flex-direction: column;
            align-items: flex-start;
        }
    }    
}